.w960 {
    width: 960px;
}

#contenido{
    vertical-align: top:
    width: 795px;
    background:#ffffff;
    border-style: solid;
    border-width: 0px 0px 0 1px;
    border-color: #cccccc; 
}

#contenidoFactura{
    vertical-align: top:
    width: 995px;
    background:#ffffff;
    border-style: solid;
    border-width: 0px 0px 0 1px;
    border-color: #cccccc; 
}


#barra {
    font-size: 10px;
    width: 100%;
    height: 32px;
    float: right;
    margin: 0px 0px 0 0;
    background-color: #B6C9DE;
}

.azul{
    font-family: Tahoma;
    font-size: 10px;
    margin: 0px 0px 0 0;
    background-color: #B6C9DE;    
}
.altura{
    height: 420px; 
   /*height: auto;*/
}
.posicionLogin {
    position: absolute;
    left: 40%;
    top: 232px;
}
ul.menuSistema {
    clear: both;
    float: right;
    width: 158px;
    list-style: none;
    margin: 0px 0 0 0;
    /*    border-left: 1px solid #9C9C9C;*/
}

ul.menuSistema li {
    float: left;
}

ul.menuSistema li a {
    padding: .4em;
    text-decoration: none;
    color: #333;
    background: #F4F4F4;
    border-top: 1px solid #9C9C9C;
    border-right: 1px solid #9C9C9C;
    border-bottom: 1px solid #9C9C9C;
}

ul.menuLateral {
    clear: both;
    width: 150px;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    /*  border-left: 1px solid #7C7C7C;*/
}
ul.menuLateral li {
    border-top: 1px solid #FFF;
}
ul.menuLateral li a {
    padding: .2em;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 11px;
    text-align: left;
    border-bottom: 1px dotted #9C9C9C;
}
ul.opciones {
    clear: both;
    width: 180px;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    /*  border-left: 1px solid #7C7C7C;*/
}
ul.opciones li {
    background-color:#FAF8F8;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #edecec;
}

ul.opciones li a {
    padding: .4em;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 11px;
    text-align: left;
}

ul.elementos {
    clear: both;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    /*  border-left: 1px solid #7C7C7C;*/
}
ul.elementos li {
    /*    background-color:#FAF8F8;*/
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #edecec;
}

ul.elementos li a {
    padding: .2em;
    display: block;
    text-decoration: none;
    /*    color: #333;*/
    font-size: 11px;
    text-align: left;
}

/*#pie {
    width: 960px;  Ancho del pie 
     height: 50px; /*Altura del pie 
    font-size: 11px;
    background-color:#B6C9DE;
}*/

.borde_imagen{
    border-width: 1px;
}

.sinBorde{
    border-width:0px;
}

.logoSia{
    border-width:0px;
    /*  width: 90px;
      height: 60px; */
}

#slogan {
    font-family: Tahoma;
    font-size: 11px;
    color: #0e8fcb;
    /*   font-weight:bold;
    font-style: italic ;*/
    float: left;
    padding: 5px;
}

#logo {
    width: 190px;
    height: 60px;
    margin: 13px 10px 0 10px;
    float: left;
}

#datosUsuario{
    font-family:Tahoma;
    font-size:12px;
    width: 270px;
    height:55px;
    margin: 20px 19px 0 10px;
    float: right;
    /*    border-width: 1px;
        border-style: dotted;
        border-color: blue;*/
    background-color: white;
}

#usuario {
    background-color: white;
    font-family: Tahoma;
    font-size: 10px;
    font-weight:bold;
    width: 760px;
    color: #036fab;
    float: left;
}

#fecha{
    background-color: white;
    font-family: Tahoma;
    font-size: 10px;
    font-weight:bold;
    text-align:right;
    width: 200px;
    float: right;
}

#errores{
    width: 960px;
    height: 15px;
    margin: 0px 0px 0px 0;
    padding: 0px 0px 0 0;
    font-family: Tahoma;
    font-size: 10px;
    background-color:#F4FA58;
    color:black;
}

.inicio{height:350px;}

.mensaje
{
    color:#ff0000;
    font-size: 11px;
}

.errorMessage {
    color: red;
    font-size: 11px;
}

.infoMessage {
    color: blue;
    font-size: 11px;
}

.seccion_w280 {
    float: left;
    width: 260px;

    padding: 0 10px 0 10px;
}

.seccion_w280 .presupuesto {
    background: url(../imagenes/presupuesto_icon.png) no-repeat bottom left;
    height: 49px;
    padding: 0 0px 0 70px;}

.seccion_w280 .adendum {
    background: url(../imagenes/add.png) no-repeat bottom left;
    height: 49px;
    padding: 0 0px 0 70px;}

.seccion_2 {
    width: 220px;
    margin: 0 0 10px 0 ;
    padding: 15px 15px 5px 15px;
}

.seccion_2 .verde {
    border-left: 8px solid #64d608;
    padding: 0 0 0 5px;
    margin: 0 0 15px 0;
}

.seccion_2 .azul {
    border-left: 8px solid #0895d6;
    padding: 0 0 0 5px;
    margin: 0 0 15px 0;
}

.seccion_2 .amarillo {
    border-left: 8px solid #ffcc66;
    padding: 0 0 0 5px;
    margin: 0 0 15px 0;
}

.tituloCuadrado {
    font-size: 12px;
    color: black;
    font-weight:bold;
    background: #F4F4F4;
    border: 1px solid #9C9C9C;
}

.tituloCuadradoFactura {
    font-size: 12px;
    color: black;
    font-weight:bold;
    background: #F4F4F4;
    border: 1px solid #9C9C9C;
}


.titulo { 
    width: 170px;   
    font-size: 10px;
    text-align: left;
    color: gray;  
    float: left;
    font-weight:bold;
    border-width: 0 0 1px 0; border-style: solid; border-color: #9C9C9C;
}
.columna1{
    float: left;
    padding-right: 5px;
    padding: 0 0 5px 0;
}
.columna2{
    width: 87%;
    font-size: 10px;
    text-align: left;
    color: gray;  
    text-align: left;
    float: left;
    font-weight:bold;
    padding: 0 0 0 0;
    padding-top: 3px;
    padding-left: 5px;
}
.login{
    height:200px; 
    width:200px;
    position:fixed;
    top:50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -180px;
}

.subtitulo{
    text-align: right;
    border-width: 0 0 1px 0;
    width:150px;
    border-style:dotted;
    border-color:gray;

}
.subtitulo .link{
    font-size: 10px;
    color:#0e8fcb;    
}
.grupo{
    width: 180px;
    height: 25px;
    font-size: 11px;
    cursor: pointer;
    background-color:#FAF8F8;
    color: #333;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #edecec;
}

.buttonBorde{width:583px;border-width: 0 0 1px 0;border-style:solid;border-color:#edecec;}
.divide{border-width: 0 0 1px 0;width:150px;border-style: solid;border-color:gray;}
/*.siaTitlebar{background-color:#4A9407;border:1px solid #666666;color:#fff;cursor:pointer;font-size:11px;font-weight:bold;padding:3px 3px 3px 5px}**/
.caja{width:580px;border: 1px solid #edecec;}
.compartir{background-color:#0895d6;border:1px solid #666666;color:#fff;cursor:pointer;font-size:11px;font-weight:bold;padding:3px 5px 3px 5px}
.confirmar{background-color:#0895d6;border:1px solid #999;color:#fff;cursor:pointer;font-size:11px;font-weight:bold;padding:3px 5px 3px 5px}
.cancelar{background-color:#f0f1f4;border:1px solid #cccccc;color:#333;cursor:pointer;font-size:11px;font-weight:bold;padding:3px 5px 3px 5px; margin: 3px 5px 3px 5px}

/*parte de compartir estado y notificacion */caja{width:583px;border: 1px solid #edecec;}
.panelCompartir{width:420px;font-size:11px;border-bottom-width:2px;border-bottom-color:white;border-bottom-style:solid;}
.panelCompartir .comunicado{width:407px;height:40px;font-size:11px;}
.panelCompartir .botonCompartir{width:100%;}
.panelCompartir .botonCompartirRtl{width:100%; direction:rtl;}
.botonCompartir .selectOneMenu{direction:ltr;font-size:11px;}
.tituloNotificacion{width:431px;font-size:11px;}
.msjNotificacion{width:350px;height:40px;font-size:11px;}
.fondoAzul{background-color:#EDEFF4;}
/* parte para las publicaciones*/
.punta{background:url(../imagenes/punta.png) left top no-repeat;background-position:16px 0px;padding-top:5px;}
.panelComentario{width:500px;font-size:11px;background-color:#EDEFF4;border-bottom-width:1px;border-bottom-color:white;border-bottom-style:solid;}
.panelComentario .comentario{width:420px;height:40px;font-size:11px;}
.panelComentario .botonComentar{width:99.5%;}
.panelComentario .botonComentarRtl{width:99.5%; direction:rtl;}
.comentarTxt{width:400px;height:30px;font-size:11px;}


.foto{width:40px; vertical-align:top: float:left;}
.dimensionFoto{width:40px;height:40px;}
.dimensionFotoComentario{width:50px;height:50px;}
.respuesta{width:420px; float:right;}

/*
 Override PanelPopup css
*/
.icePnlPop {color:#666666;background-color:#000000;padding:0px;z-index:1000;top:20%;left:10%;position:absolute;}
.icePnlPopHdr {background-color:#FF0000;color:#FFFFFF;text-align:left;}
.icePnlPopBody {background-color:#ffffff;padding:10px;}
/* Centrar Imagen o Div Horizontal o Vertixalmente... */
.center {
    width:270px;
    height:150px;
    position:absolute;
    left:50%;
    top:50%;
    /*	margin:-95px 0 0 -175px;*/
}

/* ================= Estilos Marino ============================*/
.botonFijo{
    background-color:#f0f1f4;
    border:1px solid #cccccc;
    color:#333;
    cursor:pointer;
    height: 10px;
    width: 38px;
    padding:4px 2px 8px 4px;
    display: inline-block;
    position: relative;
    margin-right: 2px;
    text-align: center;
}
.imagenSinBorde{
    border: none;
    width: 16px;
    height: 16px;  
    alignment-adjust: middle;
}
.imagen32{
    width: 30px;
    height: 30px;
    border: none;
}

.encabezadoContrato{    
    background-color:transparent;
    border:0px solid #cccccc;
    height: 50px;
    width: 650px;
    padding:5px 5px 8px 15px;
    display: inline-block;
    position: relative;
    margin-left: 5px;
}

.tituloEncabezado{
    font-size: medium; color: #0895d6; font-weight: bold; font-family:Georgia;
}
.tituloEncabezadoRojo{
    font-size: small; color: maroon; font-weight:  bold;
}
.textoListaTabla{
    font-size: x-small; color: buttonshadow; font-weight:  bold; 
}
.textoPequenio{
    font-size: xx-small;  font-weight:  normal; font-family: Georgia; 
}
.textoMensajeError{
    font-weight: normal; font-size: xx-small; color: maroon;
}
.bordePanelGrid{
    border-style: solid; border-width: 1px 1px 1px 1px; border-color: #cccccc;
}
.textoTituloFactura{
    font-weight: bold; font-size: 11pt; color: #0895d6;
}
.textoTituloFacturaAsociada{
    font-size: 11pt; font-weight:normal; color: #872020;
}
.facturaPorAutoRow1{
    background-color: #F4FA58;
}
.facturaPorAutoRow2{
    background-color: #F4FA58; 
}
.facturaPendientePago1{
    background-color:#A8091E;
}
.facturaPendientePago2{
    background-color: #FF0000; 
}

.facturaPagada1{
    background-color: #ADD8E6;
}
.facturaPagada2{
    background-color: #ADD8E6; 
}


.alinearIzquierda{
    float: left;    
}
.sistema{
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    font-size: 12px;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    line-height: 0.8;
}

.bordeInferiorPanelGrid{
    border-style: solid; border-width: 0px 0px 1px 0px; border-color: #cccccc;    
}

.textAreaNoticia{
    background-color: transparent;
    border: 1px solid #A9BCF5;
    scrollbar-arrow-color: #000066;
    scrollbar-base-color: #000033;
    scrollbar-dark-shadow-color: #336699;
    scrollbar-track-color: #666633;
    scrollbar-face-color: #cc9933;
    scrollbar-shadow-color: #DDDDDD;
    scrollbar-highlight-color: #CCCCCC;
    font-size: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10);
    border-radius: 5px;
    width: 573px;
}
.textAreaNoticia .textAreaModificarNoticia{    
    border: 1px solid #E6E6E6;                            
    font-size: 13px;        
}

.w50f10 {
    width: 50px;
    font-size: 10px;
}

.w200f10 {
    width: 200px;
    font-size: 10px;
}

.w209f10 {
    width: 209px;
    font-size: 10px;
}

.w219f10 {
    width: 219px;
    font-size: 10px;
}

.w960 {
    width: 960px;
}


.tituloPagina{
    padding: 10px 0px 10px 0px;
    color: #0096E0;
    font-size: 1.45em;
    text-spacing:normal;
    letter-spacing: 1px;
    text-decoration: #496E88; 
    text-shadow: 1px 1px #fff, 0 0 #0e0e0e, 1px 1px 1px #e3e3e3; 
    word-spacing: 1px;
    text-align: center;
    font-weight: 600;
}

/* ================= Estilos Ines ============================*/

.tituloPaginaLink{
    padding: 10px 0px 10px 0px;    
    font-size: 1.25em;
    text-spacing:normal;
    letter-spacing: 1px;
    text-decoration: #496E88; 
    text-shadow: 1px 1px #fff, 0 0 #0e0e0e, 1px 1px 1px #e3e3e3; 
    word-spacing: 1px;
    text-align: center;   
    
}

/* ================= Estilos proveedor ============================*/

.autocompletar{
    margin: 8px;
    font-size: 11px;
    text-align: left;
    overflow: scroll;
    overflow-style: scrollbar ,marquee;
    height: 200px; 
}