#arriba {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#menu{
    width: 100%; 
    font-size: 12px;
    padding: 3px 0 0 0;
}
#abajo {
    width: 960px; 
    font-size: 12px;
    padding: 3px;
}

#izquierda {
    /*  background-color: #ece3a5;*/
    padding: 5px;
    /*width: 155px;*/
    width: 200px;
    vertical-align: top:
}

#derecha {
    /*    background-color: #ece3a5;*/
    padding: 10px;
    width: 155px;
    vertical-align: top:
}

#content {
    /*    background-color: #dddddd; width: 585px;*/
    width: 520px;
    padding: 10px;
    vertical-align: top:
    text-align: left;
    border-style: solid; border-width: 0px 1px 1px 1px; border-color: #cccccc;
}


.facturaPorAutoRow1{
    background-color: #F4FA58;
}
.facturaPorAutoRow2{
    background-color: #F4FA58; 
}
.facturaPendientePago1{
    background-color: #D8262E;
}
.facturaPendientePago2{
    background-color: #D8262E; 
}

.facturaPagada1{
    background-color: #ADD8E6;
}
.facturaPagada2{
    background-color: #ADD8E6; 
}
table .contenidoTabla{
    text-align: left; 
    font-size: small;
    font-family: Gill, Helvetica, sans-serif;
}
.subtituloFactura{
    text-align: right;
    border-width: 0 0 1px 0;
    width:100px;
    border-style:dotted;
    border-color:gray;
}
.textoPequenio{
    font-size: xx-small;  font-weight:  normal; font-family: Georgia; 
}