body {
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif !important;
    outline: 0;
}
.main-container{

}
.user-bar {
    background-color: #373737;
    color: #d7d7d7;
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    font-size: 0.9em;
}
.fleft{
    float: left;
}

.fright {
    float: right;
}

.banner {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #FBFBFB;
}

.banner > span {
    font-size: 16px;
}

form.menu {
    padding: 0 10px;
    border: 1px solid #aaaaaa;
    background-color: #efefef;
}

form.menu .wijmo-wijmenu {
    border: 0;
    background: none;
}

.main-content {
    padding: 20px;
}

.main-content h1.title {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: bold;
    color: #153555;
    border-bottom: #8f8f8f dotted 1px;
}

.buttons-section {
    margin: 10px 0;
}

.hidden {
    display: none !important;
}

.filtros-panel {
    margin-bottom: 10px;
}

input[type=text]:not([size]), input[type=password]:not([size]), select:not([size]), textarea {
    width: 100%;
    outline: 0;
}

.ui-textareaentry.ui-state-default {
    background: #fff;
    resize: none;
}

.ui-widget {
    font-size: 14px;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif !important;
}

select.ui-widget {
    height: 30px;
}

.input-msg {
    padding: 5px;
    display: block;
    margin: 2px 0;
    list-style: none;
}

.login-container {
    width: 400px;
    margin: 0 auto;
}

.form-group {
    margin: 10px 0 20px 0;
}

.form-group > label {
    font-weight: bold;
}

.clearfix {
    overflow: hidden;
    clear: both;
}

.icon-column > a {
    display: inline-block;
    margin: 0 3px;
}

.table-form {
    width: 100%;
    margin: 10px 0 20px 0;
    border-collapse: collapse;
}

.table-form tr {
    height: 36px;
    vertical-align: top;
}

.div-center {
    text-align: center;
    margin: 0 auto;
}

.filtro-butones {
    margin: 10px 0 20px 85px;
}

.filtro-butones a {
    margin: 0 10px;
}

.mensajes-ul {
    padding-left: 0;
}

.salir {
    text-decoration: none;
    color: #fff;
}

.ui-sortable-column-order {
    display: none !important;
}

ul.wijmo-wijmenu-list > li.wijmo-wijmenu-item {
    list-style: none;
}

.wijmo-wijmenu .wijmo-wijmenu-parent .wijmo-wijmenu-child {
    width: 230px !important;
}

.logo-imagen {
    vertical-align: middle;
    margin-right: 10px;
}

.login-titulo {
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 30px;
}

.login-titulo > img {
    float: left;
}

.login-titulo > h2 {
    float: left;
    margin: 0;
}

input.ui-autocomplete-input {
    background-image: url("#{resource['images:icon-autocomplete.png']}");
    background-size: 14px 14px;
    background-position: 2px center;
    background-repeat: no-repeat;
    padding-left: 19px !important;
    box-sizing: border-box;
    height: 32px;
}

.bold {
    font-weight: bold;
}

span.required {
    margin-left: 5px;
    font-size: 14px;
    color: #990000;
    line-height: 20px;
}

table.input {
    border: 1px solid #dedede;
    border-collapse: collapse;
}

table.input td, th {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #dedede;
    text-align: left;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    padding: 6px;
}

table.input th {
    background-color: #EFEFEF;
}

table.input td *{
    width: 100%;
    box-sizing: border-box;
}

table.input th {
    box-sizing: border-box;
}

table.input td img {
    width: 24px;
    vertical-align: middle;
}

.mensajePaginacion {
    display: block;
    margin: 10px 0;
}

.mensajePaginacion.reporte {
    font-size: 11px;
}

table.input.articulos {
    margin-top: 20px;
}

div.agregar {
    float: right;
    margin-top: 5px;
}

.botones-seccion {
    margin-top: 10px;
    display: block;
}

.botones-seccion a {
    margin-right: 10px;
}

.ui-datatable-data.ui-widget-content tr td > a.link {
    margin: 0 5px;
    font-size: 13px;
}

.sia-widget, .sia-widget .ui-widget {
    font-size: 12px !important;
}

.sia-widget {
    width: 800px;
    display: block;
    margin-top: 40px;
}

.sia-widget table th, td {
    padding: 4px 7px;
}

.sia-widget .ui-datatable .ui-header-column {
    padding: 0;
}

.sia-widget .ui-header-column.ui-sortable-column > div {
    padding-right: 20px !important;
}

.sia-widget .ui-header-right {
    padding-right: 0;
}

.mensaje {
    font-weight: bold;
    font-style: italic;
}

.fecha input {
    width: 90px !important;
}

.hbutton-imp {
    margin-right: 5px !important;
}

.tablaImprimir {
    display: none;
}

@media print {
    div.user-bar, form.menu, .tablaDatos, div.buttons-section, div.filtros-panel table, div.filtro-butones a {
	display: none;
    }

    .tablaDatos table, .tablaDatos div {
	display: none;
    }
    .tablaImprimir {
	display: table;
    }
}

.ui-disabled {
    cursor: default !important;
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.rango > span {
    display: inline-block;
}

.rango > span.entre {
    margin-right: 20px;
}

.rango > span.separador {
    width: 20px;
    margin-left: 20px;
}

.rango span.campo, .rango span.campo > input {
    width: 80px
}

.panel-movimientos {
    display: block;
    margin-top: 40px;
}

.articulo-info {
    margin-top: 5px;
    font-size: 11px;
    color: #999;
}

.almacen-user-info {
    font-size: 12px;
}

.margin-top-5 {
    margin-top: 5px;
}

.crear-foraneo {
    margin-left: 5px;
}

li.item-empty {
    height: 30px;
    line-height: 30px;
}

i.fa.fa-large {
    font-size: 24px;
}

.tituloInicio {
    margin-bottom: 30px;
    font-size: 16px;
}

.link-ayuda {
    float: right;
    margin-top: 10px;
    font-size: 12px;
    background-image: url("#{resource['images:icon-help.png']}");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 0 0;
}

.cancelar {
    margin-left: 20px;
}

.identificador-header {
    width: 180px;
    display: block;
}

td.msj-no-leido, td.msj-no-leido > a {
    background-color: #FFFFBB;
    font-weight: bold;
}

tr.ui-selected td, tr.ui-state-highlight td, tr.ui-state-highlight td {
    background: #f9f8f8 !important;
}

.pn-avisos-acciones {
    margin: 20px 0;
    display: block;
}

.pn-avisos-acciones > span, .pn-avisos-acciones > a {
    margin-right: 10px;
}

.pn-mensaje {
    width: 800px
}
.pn-mensaje > div.cabecera {
    border-bottom: 2px solid #e7eaec;
    padding-top: 10px;
}
.pn-mensaje > div.cabecera > div {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
}
.pn-mensaje > div.cabecera  div.asunto {
    float: left;
    font-size: 16px;
}
.pn-mensaje > div.cabecera  div.asunto > span {
    font-weight: bold;
}
.pn-mensaje > div.cabecera  div.acciones {
    float: right;
}
.pn-mensaje > div.cabecera  div.acciones > .primer {
    margin-right:  10px;
}
.pn-mensaje > div.mensaje-contenido {
    padding: 30px 0;
}
.tabla-avisos.ui-datatable .ui-datatable-data td, .tabla-inicio.ui-datatable .ui-datatable-data-empty td {
    padding: 8px;
}
.tabla-avisos td a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}