/* 
    Document   : controloficios
    Created on : 08-sep-2014, 9:16:09
    Author     : esapien
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


/* Layout */
body {
    padding-top: 50px;
}

.container {
    width: 100%;
}

/* Jumbotron */
.jumbotron {
    /*text-align: center;*/
}

/* GlyphIcons */

.glyphicon{
    /*font-size: 3em;*/
    /*display: block;*/
    margin: auto;
    color: #3a87ad;
}

.icono-encabezado{
    color: black;
    font-size: 18px;
    /* Efecto emboss */
    /*text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);*/
}


.icono-contenido{
    color: #3a87ad;
    font-size: 18px;
    /* Efecto emboss */
    /*text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);*/
}


.dimensionFoto{
    width: 50px;
    height: 50px;
}



/*the basics, and works for FF*/
#LoadingDiv{
    margin:0px 0px 0px 0px;
    position:fixed;
    height: 100%;
    z-index:9999;
    padding-top:300px;
    /*padding-left:50px;*/
    width:100%;
    height: 100%;
    clear:none;
    /*background:url(../imagenes/transbg.png);*/
    background-color:#333333; /* Color background de modal de Bootstrap */
    border:1px solid #000000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

/*IE will need an 'adjustment'*/
/*PROBAR*/
* html #LoadingDiv{
    position: relative;
  /*  height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');*/
}
