html {
    /*   background:#1A2B51;
         background-image:url(../imagenes/fondo.jpg);*/
    background-color: #eee;
}

.cuerpo {
    margin: 0px;
    text-align:center;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 12px;

}

/*Fuentes */
.f9{

    font-size: 9px;
}

.f10{

    font-size: 10px;
}

.f11{
    font-size: 11px;
}

.menuLateral .f11Gris{
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color:gray;
    font-size: 10px;
    font-weight:bold;
}

.fNegrita18{
    font-size: 18px;
    font-weight: bold;
}
.fNegrita12{
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
}

form .fGris{
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color:gray;
    font-size: 10px;
}
.buttonBorde .fGris14{
    font-family: Tahoma;
    color:gray;
    font-size: 14px;
    font-weight: bold;
}
.buttonBorde .fSilver{
    font-family: Tahoma;
    font-size: 10px;
    color:silver;
}
.error{
    font-family: "Arial","Helvetica",sans-serif;
    color:red;
}

/*
h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF;
    font-size:  14px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: black;
    background-color:#B6C9DE;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}
*/
a:link, a:visited {
    /*   color: #045491;*/
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    /*  color: #045491;
        font-weight : bold; 
    */
    text-decoration:underline;
    /*    background-color:#cccccc; */
}

table .link{
    color: blue;
    text-align: center;
}
table .linkPequenio{
    color: blue;
    text-align: center;
    font-size: x-small;
}
.textoIzquierda{
    text-align: left; 
    font-size: small;
    font-family: Gill, Helvetica, sans-serif;
}
table .lineaAmarilla{
    background-color: #F4FA58;    
}
table .contenidoTabla{
    text-align: left; 
    font-size: small;
    font-family: Gill, Helvetica, sans-serif;
}
.tituloEncabezado{
    font-size: medium; color: #0895d6; font-weight: bold; font-family:Georgia;
}
.tituloEncabezadoRojo{
    font-size: small; color: maroon; font-weight:  bold;
}
.textoListaTabla{
    font-size: x-small; color: buttonshadow; font-weight:  bold; 
}
.textoMensajeError{
    font-weight: normal; font-size: small; color: maroon;
}
.bordePanelGrid{
    border-style: solid; border-width: 1px 1px 1px 1px; border-color: #cccccc;
}
.textoTituloFactura{
    font-weight: bold; font-size: 11pt; color: #0895d6;
}
.textoTituloFacturaAsociada{
    font-size: 11pt; font-weight:bold; color: #872020;
}
.facturaPorAutoRow1{
    background-color: #F4FA58;
}
.facturaPorAutoRow2{
    background-color: #F4FA58; 
}
.facturaPendientePago1{
    background-color: #FF0000;
}
.facturaPendientePago2{
    background-color: #FF0000; 
}

.facturaPagada1{
    background-color: #ADD8E6;
}
.facturaPagada2{
    background-color: #ADD8E6; 
}
.subtituloFactura{
    text-align: right;
    border-width: 0 0 1px 0;
    width:100px;
    border-style:dotted;
    border-color:gray;
}
.textoPequenio{
    font-size: xx-small;  font-weight:  normal; font-family: Georgia; 
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }
