/*
    estilos propios
*/
.bg-menu-lateral{
    background-color: #344767 !important;
    /*background-image: linear-gradient(310deg,#000,#636771) !important;*/
    color: #fff !important;
}

.bg-gradient-warning {
    background-image: linear-gradient(310deg,#fb6340,#fbb140) !important;
    color: #fff !important;
}



hr.horizontal.dark {
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.4),transparent);
}
hr.horizontal {
    background-color: transparent;
}

/* border botton del panel del usuario */
[class*=sidebar-light] .user-panel {
    border-bottom: 1px solid #49546C !important;
}

/*.ui-selectoneradio label radios-busqueda {*/
.ui-radiobutton ui-widget label radios-busqueda{
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0 8px;
    vertical-align: middle;
    /*color: #fbb140 !important;*/
    color: #fbb140 !important;
}